# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/

# misc
.eslintcache
.DS_Store
.env
.env.*
!.env.sample
.idea/
.vscode/
.vercel
.screenshots/
.qualified-attach.json
notes.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# knexfile.js

.attachignore
docs/routes/movies_list.md
docs/routes/movies_read.md
docs/routes/reviews_destroy.md
docs/routes/reviews_update.md
docs/routes/theaters_list.md
docs/tables/critics.md
docs/tables/movies.md
docs/tables/movies_theaters.md
docs/tables/reviews.md
docs/tables/theaters.md
# test/routes/movies.test.js
# test/routes/reviews.test.js
# test/routes/theaters.test.js